body{
    justify-content: center;
    text-align: center;
    background: black;
    color: white;
}

form{
    display: grid;
    gap: 10px;
    justify-content: center;
    grid-template-columns: 40% 30%;
}

li{
    list-style: none;
}

#main-display-2{
    margin: auto;
    height: 40vh;
    width: 60vw;
    background: orange;
    padding: 20px;
    border-radius: 10%;
    font-size: 26px;
    display: grid;
    gap: 3px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "out in in del"
                "l-brac r-brac div mul"
                'seven eight nine minus'
                'four five six plus'
                'one two three equal'
                'ac zero point equal';
    
}
#main-display-2 button{
    background: tomato;
    font-size: 1.75rem;

}