body{
    background: black;
    color: white;
}

#main-display-2{
    height: 30vh;
    background: orange;
    padding: 20px;
    font-size: 26px;
    display: grid;
    gap: 3px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "out in in del"
                "l-brac r-brac div mul"
                'seven eight nine minus'
                'four five six plus'
                'one two three equal'
                'ac zero point equal';
    
}
#main-display-2 button{
    background: tomato;
    font-size: 1.75rem;

}

/* #display-area{
    
} */
/* 
#inputLabel{
    display: grid;
    justify-content: center;
    gap: 20px;
    font-size: 18px;
    font-weight: 600;
} */

/* #string{
    width: 30vw;
    background: pink;
    margin: auto;
    text-align: center;
    font-size: 18px;
    padding: 1px; */

/* } 
#check-btn{
     margin: auto;
    background: black;
    color: red;
    width: 50%;
    font-size: 20px;
    cursor: pointer;
    border: 3px solid maroon; */
/* }
#check-btn:hover{
    background: maroon;
    color: white;
}
#check-btn:active{
    background: lightgreen;
    color: blue;
    font-weight: 600;
}

#display-text{
    background: yellow;
    color: green;
    font-weight: 700;
    text-align: center;
} */